<!DOCTYPE html>
<html>
<head>
	<title>Students change campus</title>
</head>

<body>
  <form action="/students/campus" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Save</button>
  </form>

</body>
</html>