.octopus {
  display:block;
  margin-left:auto;
  margin-right:auto;
  bottom: 100px;	
  }

  .glasses {
  display:block;
  margin-left:auto;
  margin-right:auto;
  z-index: 2;
  }

  .hat {
  display:block;
  margin-left:auto;
  margin-right:auto;
  z-index: 2;
  }